<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nagarro" translate="label" sortOrder="100" class="nagarro-logo">
            <label><![CDATA[]]></label>
        </tab>
        <section id="mobilelogin" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mobile Login</label>
            <tab>nagarro</tab>
            <resource>Nagarro_Mobilelogin::mobileloginconfig</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mobile Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="loginmode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Login With</label>
                    <source_model>Nagarro\Mobilelogin\Model\Config\Source\Loginmode</source_model>
                    <depends><field id="enable">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>