<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <SmsNotification>
            <general>
                <enable>1</enable>
            </general>
            <GeneralConfiguration>
                <OTPType>Numeric</OTPType>
                <OTPLength>6</OTPLength>
                <ButtonStyleClass>action submit primary</ButtonStyleClass>
            </GeneralConfiguration>
            <smsgateways>
                <TextlocalAPIURL>https://api.textlocal.in/send/</TextlocalAPIURL>
                <BulkSmsAPIURL>https://bulksms.vsms.net/eapi/submission/send_sms/2/2.0</BulkSmsAPIURL>
                <TwilioNOTE><![CDATA[ Run 'composer require twilio/sdk' from CLI to use Twilio.]]></TwilioNOTE>
            </smsgateways>
        </SmsNotification>
    </default>
</config>
