<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="sales_order_place_after_sms_observer" instance="Nagarro\SmsNotification\Observer\PlaceOrderNotification"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="sales_order_shipment_save_after_sms_observer" instance="Nagarro\SmsNotification\Observer\ShipmentNotification"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="sales_order_creditmemo_save_after_sms_observer" instance="Nagarro\SmsNotification\Observer\CreditMemoNotification"/>
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="InvoiceNotification_observer" instance="Nagarro\SmsNotification\Observer\InvoiceNotification"/>
    </event>
</config>
